*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background: #3e3e3e;
    font-family: 'century gothic';
    font-size:  1.2em;
    color: white;

}

input[type=text], input[type=password] {
    border: 1px solid #000;
}

input[type=submit] {
    
}